/* Global */ 
* {
    font-family: monospace;
}

/* Main page */
.tblContent {
    width: 100%;
    height: 100%;
}
.trHeader, .trFooter {
    background-color: #eeeeee;
    width: 100%;
    height: 30px;
}
.trHeader {
    height: 30px;
}
.trFooter {
    height: 50px;
}
.trContent {
    background-color: #ffffff;
    width: 100%;
    text-align: left;
}
#tdContent {
    vertical-align: baseline;
}

/* Footer */
.tblFooterMenu {
    width: 100%
}
.tblFooterMenu td {
    width: 33%
}
.tblFooterMenu button {
    width: 100%;
    height: 45px;
}

#tdContent select {
    width: 150px;
}

#divResultsExercices {
    overflow: scroll;
    height: 80%;
    width: 100%;
}
.tblSearch {
    width:100%;
}
.tdButtonClearSearch {
    text-align:right;
}
button {
    border-width: thin;
    border-color: lightgray;
}
.imgButtonSmall {
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}
.imgButtonBig {
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: x-small;
    padding-top: 24px;
    background-position-y: 6px;
    background-position-x: center;
}
#btnClearSearch {
    background-image: url("../res/delete.png");
    width: 26px;   
    height: 20px;
}
#btnHome {
    background-image: url("../res/home.png");
}
#btnSearchEx {
    background-image: url("../res/search.png");
}
#btnCreateEx {
    background-image: url("../res/add.png");
}
#btnExercices {
    background-image: url("../res/table.png");
}
#btnWod {
    background-image: url("../res/clock.png");
}
#btnStats {
    background-image: url("../res/3d_bar_chart.png");
}
.tblResults .ulResults {
    width: 100%;
}
.tblResults td {
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    text-transform: uppercase;
}
.tblResults tr {
    height: 30px;
}
.ulResults {
    position: relative;
    left: -40px;
}
.ulResults table {
    width: 100%;
    margin-top: 5px;
}

.ulResults li {
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
    height: 45px;
    width: 100%;
    list-style-type: none;
}
.tdResultMain {
    text-transform: uppercase;
    font-size: large;
}
.tdResultShort {
    width: 50%;
    font-size: small;
}