/* 
* Global 
*/ 
* {
    font-family: monospace;
}

/* 
* Main page 
*/
.tblContent {
    width: 100%;
    height: 100%;
}
.trHeader, .trFooter {
    background-color: #f3f3f3;
    width: 100%;
    height: 30px;
}
.trHeader {
    height: 30px;
}
.trFooter {
    height: 70px;
}
.trContent {
    background-color: #ffffff;
    width: 100%;
    text-align: left;
}
#tdContent {
    vertical-align: baseline;
}
#tdContent select {
    width: 150px;
}

/* 
* Footer 
*/

.tblFooterMenu {
    width: 100%
}
.tblFooterMenu td {
    width: 33%
}
.tblFooterMenu button {
    width: 100%;
    height: 60px;
}


/*
* Exercices Page
*/
#divResultsExercices {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tblSearch {
    width:100%;
}
.tdButtonClearSearch {
    text-align:right;
}
button {
    border-width: thin;
    border-color: lightgray;
}
.imgButtonSmall {
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    width: 22px;   
    height: 20px;
}
.imgButtonBig {
    background-repeat: no-repeat;
    background-size: 30px;
    font-size: x-small;
    padding-top: 40px;
    background-position-y: 8px;
    background-position-x: center;
}
#btnClearSearch {
    background-image: url("../res/delete.png");
}
#btnHome {
    background-image: url("../res/home.png");
}
#btnSearchEx {
    background-image: url("../res/search.png");
}
#btnCreateEx {
    background-image: url("../res/add.png");
}
#btnExercices {
    background-image: url("../res/table.png");
}
#btnWod {
    background-image: url("../res/clock.png");
}
#btnStats {
    background-image: url("../res/3d_bar_chart.png");
}
.tblResults .ulResults {
    width: 100%;
}
.tblResults td {
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    text-transform: uppercase;
}
.tblResults tr {
    height: 30px;
}
.ulResults {
    position: relative;
    left: -30px;
}
.ulResults table {
    width: 100%;
    margin-top: 10px;
}

.ulResults li {
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
    height: 55px;
    width: 100%;
    list-style-type: none;
}
.tdResultMain {
    text-transform: uppercase;
    font-size: large;
}
.tdResultShort {
    width: 50%;
    font-size: small;
}
.tdResultEmpty {
    width: 0px;
}
#btnShowDetails {
    background-image: url("../res/view.png");
}

/*
* Popin
*/
#divPopin {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 9999;
}
.tblPopin {
    width: 100%;
    height: 100%;
    border-style: groove;
    border-width: 1px;
    border-color: lightgrey;
    margin: 2px;
}
.trPopinContent {
    text-align: left;
    vertical-align: baseline;
}
.trPopinFooter {
    height: 70px;
    text-align: center;
    background-color: #efefef;
}
.trPopinHeader {
    height: 30px;
    background-color: #efefef;
}
#btnPopinFermer {
    background-image: url("../res/apply.png");
    height: 60px;
    width: 60px;
}