/* 
* Global 
*/ 
* {
    font-family: monospace;
}

/* 
* Main page 
*/
.tblContent {
    width: 100%;
    height: 100%;
}
.trHeader, .trFooter {
    background-color: #f3f3f3;
    width: 100%;
    height: 30px;
}
.trHeader {
    height: 30px;
}
.trFooter {
    height: 70px;
}
.trContent {
    background-color: #ffffff;
    width: 100%;
    text-align: left;
}
#tdContent {
    vertical-align: baseline;
}
#tdContent select, #tdPopinContent select {
    width: 150px;
}

#tdPopinContent table {
    width: 100%;
}

/* 
* Footer 
*/

.tblFooterMenu {
    width: 100%
}
.tblFooterMenu td {
    width: 33%
}
.tblFooterMenu button {
    width: 100%;
    height: 60px;
}


/*
* Exercices Page
*/
#divResultsExercices {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tblSearch {
    width:100%;
}
.tdButtonClearSearch {
    text-align:right;
}
button {
    border-width: thin;
    border-color: lightgray;
}
.imgButtonSmall {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    width: 22px;
    height: 20px;
    background-color: white;
    border-style: none;
}
.imgButtonBig {
    background-repeat: no-repeat;
    background-size: 30px;
    font-size: x-small;
    padding-top: 40px;
    background-position-y: 8px;
    background-position-x: center;
    border-radius: 8px;
}
#btnClearSearch {
    background-image: url("../res/refresh.png");
}
#btnHome {
    background-image: url("../res/home.png");
}
#btnToggleEx.User {
    background-image: url("../res/male.png");
}
#btnToggleEx.All {
    background-image: url("../res/sync.png");
}
#btnCreateEx {
    background-image: url("../res/create.png");
}
#btnExercices {
    background-image: url("../res/table.png");
}
#btnWod {
    background-image: url("../res/stopwatch.png");
}
#btnStats {
    background-image: url("../res/3d_bar_chart.png");
}
.tblResults .ulResults {
    width: 100%;
}
.tblResults td {
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    text-transform: uppercase;
}
.tblResults tr {
    height: 30px;
}
.ulResults {
    position: relative;
    left: -30px;
}
.ulResults table {
    width: 100%;
    margin-top: 10px;
}

.ulResults li {
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
    height: 55px;
    width: 100%;
    list-style-type: none;
}
.tdResultMain {
    text-transform: uppercase;
    font-size: large;
}
.tdResultShort {
    width: 50%;
    font-size: small;
}
.tdResultEmpty {
    width: 0px;
}
#btnShowDetails {
    background-image: url("../res/view.png");
}
.imgIsCustom_true, .imgIsCustom_false  {
    background-position: center;
    background-size: 14px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    border-style: hidden;
    background-color: white;
}
.imgIsCustom_true {
    background-image: url("../res/male.png");    
}

/*
* Create page
*/
.tblCreateExerc {
    width: 100%;
}
.tblCreateExerc textarea {
    width: 100%;
    height: 100%;
}
.tblCreateExerc tr {
    vertical-align: top;
}
.tblCreateExerc select, .tblCreateExerc input {
    width: 100%;
}

/*
* Details page
*/
#tblDetailExerc {
    width: 100%;
    height: 95%;
}
#tblDetailExerc tr {
    vertical-align: top;   
}
#tblDetailExerc textarea {
    border-style: none;  
}
#tblDetailExercButtons {
    width: 100%;
    height: 5%;
}
#btnDeleteExerc {
    background-image: url("../res/delete.png");
}
#divEditExercBtn {
    width: 100%;
    text-align: right;
}

/*
* WOD Page
*/
#btnStartWod {
    background-image: url("../res/go.png");
}
#btnRecentWod {
    background-image: url("../res/calendar.png");
}
#btnWodItemsClear {
     background-image: url("../res/refresh.png");
}

#divWodItemsResults {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#tblWodItems {
    width: 100%;
}

#tblWodItems input {
    width: 30px;
}
#tblWodItems .selUnite {
    width: 50px;
}

#tblWodTitleDate #btnEditWodName[class='imgButtonSmall edit'] {
    background-image: url("../res/modify.png");
}
#tblWodTitleDate #btnEditWodName[class='imgButtonSmall save'] {
    background-image: url("../res/save1.png");
}
#txtWodName {
    width: 200px;
}
#tblExoListWod .tdResultMain {
    width: 80%;
}
.tblExoListWod #btnDeleteExerc {
    background-image: url("../res/delete.png");
}
#btnWodAddExo {
    background-image: url("../res/create.png");
    width:60px;
}
#btnWodAddRest {
    background-image: url("../res/stop_sign.png");
    width:60px;
}
#btnWodAddSerie {
    background-image: url("../res/redo.png");
    width:60px;
}

.trWodRow[data-type='REST'] {
    color:red;
}
.trWodRow[data-type='EXO'] {
    color: seagreen;
}
.trWodRow[data-type='SERIE'] {
    color: blue;
}
.trWodRow[data-type='REST'] .btnWodItemIcon {
    background-image: url("../res/stop_sign.png");
}
.trWodRow[data-type='EXO'] .btnWodItemIcon {
    background-image: url("../res/next.png");
}
.trWodRow[data-type='SERIE'] .btnWodItemIcon {
    background-image: url("../res/redo.png");
}

.trWodRow input[class='readonly'] {border-style: none;}
.trWodRow .selUnite[class='selUnite readonly'] {border-style: none;appearance: none;user-select: none;}


/*
* Wod Running page
*/

.trWodItemRow[data-type='REST'] {
    color:red;
}
.trWodItemRow[data-type='EXO'] {
    color: seagreen;
}
.trWodItemRow[data-type='SERIE'] {
    color: blue;
}
.trWodItemRow[data-type='REST'] .btnWodItemIcon {
    background-image: url("../res/stop_sign.png");
}
.trWodItemRow[data-type='EXO'] .btnWodItemIcon {
    background-image: url("../res/next.png");
}
.trWodItemRow[data-type='SERIE'] .btnWodItemIcon {
    background-image: url("../res/redo.png");
}

.tblListWodItems .trWodItemRow {
    font-size: 20px;
    height: 40px;
}
.btnHeaderWodRunning {
    background-image: url("../res/stopwatch.png");
    margin-left: -5px;
    background-size: 25px;
    height: 25px;
    width: 25px;
}
.btnHeaderWodTerminated {
    background-image: url("../res/thumbs_up.png");
    margin-left: -5px;
    background-size: 25px;
    height: 25px;
    width: 25px;
}

#tdHeaderRunningWod {
    font-size: 30px;
    font-variant-caps: all-small-caps;
    padding-bottom: 5px;
    color: red;
}

td.tdUnitWodItem {
    width: 35px;
}

input#chkDone {
    width: 25px;
    height: 25px;
}

td.tdQteWodItem {
    width: 25px;
}

td.tdNomWodItem {
    width: max-content;
}

.divWodContent {
    height: 100%;
    overflow-y: scroll;
}

.divListWodItems {
    height: 480px;
    overflow-y: scroll;
}

/*
* Home page
*/
#divHomePage {
    text-align: -webkit-center;
    top: 10px;
    position: relative;
}
.tblLogin {
    width: 80%;
}
.tblLogin input {
    width: 100%;
}
.tblLogin .tdButtonLogin {
    text-align: right;
}
#btnValidateLogin {
    background-image: url("../res/apply.png");
}

/*
* Popin
*/
#divPopin {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 9999;
}
.tblPopin {
    width: 100%;
    height: 100%;
    border-style: none;
    border-width: 1px;
    border-color: lightgrey;
}
.trPopinContent {
    text-align: left;
    vertical-align: baseline;
}
.trPopinFooter {
    height: 70px;
    text-align: center;
    background-color: #f3f3f3;
}
.trPopinHeader {
    height: 30px;
    background-color: #f3f3f3;
    width: 100%;
}
#btnPopinFermer {
    background-image: url("../res/close.png");
    height: 60px;
    width: 100px;
}
#btnPopinOk {
    background-image: url("../res/apply.png");
    height: 60px;
    width: 100px;
}
#btnPopinCancel, #btnPopinAnnulerWod {
    background-image: url("../res/close.png");
    height: 60px;
    width: 100px;
}
.tblPopinYesNo {
    width: 100%;
    height: 30%;
    border-style: ridge;
    border-width: 1px;
    padding: 5px;
    position: relative;
    top: 100px;
}
.tr90Percent {
    height:90%;
    width: 100%;
}
.tr10Percent {
    height:10%;
    width: 100%;
}
.tblPopinYesNo tr {
    
}
#tdPopinYesNoContent {
    vertical-align: baseline;
    text-align: center;
}
#btnPopinYes {
    background-image: url("../res/yes.png");
    height: 60px;
    width: 100px;
}
#btnPopinNo {
    background-image: url("../res/close.png");
    height: 60px;
    width: 100px;
}
#tdPopinYesNoButtons {
    text-align: center;
}